<div class="container">
  <h1>Welcome to anagram solver!</h1>
  <% if @word %>
  <%= erb :anagram, :layout => false %>
  <br/>
  <% end %>
  <form action="/" method="post">
    Find the anagram of this word:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Submit">
  </form>


  </div>
